<section class="Container top">
  <div class="Group">
    <div class="Group_aling">
      <span (click)="selecionarMesAnterior()" class="material-icons">
        arrow_back_ios
      </span>
      <span>{{ exibirDataResumida() }}</span>
      <span (click)="selecionarProximoMes()" class="material-icons">
        arrow_forward_ios
      </span>
    </div>
  </div>
  <div class="income-form">
    <div>
      <h3>Informe suas Despesas</h3>
    </div>
    <div class="input-group">
      <div>
        <label for="category2">Nome:</label>
        <input type="text" id="category2" [(ngModel)]="category2" />
      </div>

      <div>
        <label for="price2">Esperado:</label>
        <input type="number" id="price2" [(ngModel)]="price2" />
      </div>
      <div>
        <select [(ngModel)]="selectedCategory">
          <option *ngFor="let cat of categoriess" [value]="cat">{{ cat }}</option>
        </select>
      </div>
    </div>

    <button mat-raised-button (click)="addNewProduct2()">Adicionar Gastos</button>
  </div>
</section>
<app-footer-header></app-footer-header>