<div class="bottom-header">
  <div>
    <i class="fa-solid fa-house icon" (click)="dashboard()"></i>
    <p>home</p>
  </div>
  <div>
    <i class="fa-solid fa-money-check icon" (click)="renda()"></i>
    <p>Receita</p>
  </div>
  <div>
    <i class="fa-solid fa-cart-shopping icon" (click)="despesas()"></i>
    <p>despesas</p>
  </div>
    <!-- <div>
      <i class="fa-solid fa-cart-shopping icon" (click)="resumo()"></i>
      <p>resumo</p>
    </div> -->
  <div>
    <i class="fa-solid fa-right-to-bracket icon" (click)="sair()"></i>
    <p>sair</p>
  </div>
</div>
