.bottom-header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #104FAB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
  }
  
  .icon {
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .icon:hover {
    color: #ffcc00; /* Cor de destaque ao passar o mouse */
  }
  
  .icon.active {
    /* Estilo quando o ícone está ativo (clicado) */
    color: #ffcc00; /* Cor rosa quando clicado */
  }
  
  /* Estilo para os nomes abaixo dos ícones */
  .bottom-header div {
    text-align: center;
    margin-top: 5px; /* Espaçamento entre o ícone e o nome */
  }
  
  .bottom-header p {
    color: white;
    font-size: 12px; /* Tamanho da fonte dos nomes */
    margin: 0; /* Remova a margem padrão dos parágrafos */
  }
  