<section class="Comp">
  <div class="Group">
    <div class="Group_aling">
      <span (click)="selecionarMesAnterior()" class="material-icons">
        arrow_back_ios
      </span>
      <span class="text">{{ exibirDataResumida() }}</span>
      <span (click)="selecionarProximoMes()" class="material-icons">
        arrow_forward_ios
      </span>
    </div>
  </div>
  <div>
    <div class="income-form">
      <div class="center">
        <span class="Texto">Receitas</span>
      </div>
      <div class="input-group">
        <div>
          <input type="text" id="category" [(ngModel)]="category" placeholder="Exemplo: Salário" />
        </div>

        <div>
          <input type="number" id="price" [(ngModel)]="price" placeholder="Exemplo: R$ 1.000,00" />
        </div>
      </div>
      <button mat-raised-button (click)="addNewProduct()">Adicionar renda</button>
    </div>
  </div>
</section>
<app-footer-header></app-footer-header>