<!-- <header>
  <div class="balls-container">
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
    <div class="ball">$</div>
</div>
<div class="dollar-notes-container">
  <div class="dollar-note">$</div>
  <div class="dollar-note">$</div>
  <div class="dollar-note">$</div>
  <div class="dollar-note">$</div>
  <div class="dollar-note">$</div>
  <div class="dollar-note">$</div>
  <div class="dollar-note">$</div>
  <div class="dollar-note">$</div>
  <div class="dollar-note">$</div>
  <div class="dollar-note">$</div>
</div>
</header> -->