<body>
    <div class="login-box">
        <h2>Login</h2>
        <form (ngSubmit)="onSubmit()">
            <div class="user-box">
                <input type="email" name="" required id="email" [(ngModel)]="email"
                    [ngModelOptions]="{standalone: true}" placeholder="Email">
                <!-- <label>Username</label> -->
            </div>
            <div class="user-box">
                <input type="password" name="" required id="password" [(ngModel)]="password"
                    [ngModelOptions]="{standalone: true}" placeholder="Password">
                <!-- <label>Password</label> -->
            </div>
            <button type="submit">
                <a>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                </a>
            </button>
        </form>
    </div>
</body>